@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1e293b;
    padding: 1rem 8rem;
    font-family: 'Eczar', sans-serif;

    .todo-app {
        width: 100%;
    }

    .input-wrapper {
        height: 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.2rem;
        background-color: #334155;    
        padding: 2rem 1rem;
        font-family: 'Eczar', sans-serif !important;
        input[type="text"] {
            font-size: 1.2rem;
            padding: 0.2rem 0.3rem;
        }
        input[type="text"] {
            width: 90%;
            background-color: transparent;
            border: none;
            border-bottom: 0.1rem solid #64748b;
            color: #cbd5e1;
            transition: border-bottom-color 0.3s ease-in-out;
        }
        input[type="text"]:focus {
            outline: none;
            border-bottom: 0.1rem solid #22d3ee;
        }

        input[type="text"]::placeholder {
            color: #94a3b8;
        }

        #addTaskBtn {
            background-color: #0ea5e9;
            border: none;
            border-radius: 0.3rem;
            padding: 0.6rem 1.5rem;
        }

        #addTaskBtn:hover {
            background-color: #0da2e7e6;
        }
    }

    .taskList-wrapper {
        margin-top: 1.5rem;
        background-color: #334155;
        color: #cbd5e1;
        padding: 0.8rem 1rem;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;

            li {
                cursor: pointer;
                list-style-type: disc;
                list-style-position: inside;
                
                .delete-btn {
                    padding: 0.4rem 1rem;
                    background-color: #ef4444;
                    color: #f1f5f9;
                    border: none;
                    margin-left: 2rem;
                    float: right;
                }

                .delete-btn:hover {
                   background-color: #ef4343e6; 
                }
            }

            .line-through {
                text-decoration: line-through;
            }
        }
    }

    .block {
        display: block;
    }

    .hidden {
        display: none;
    }
}



